@keyframes sprite {
  from { background-position: 0px; }
  to { background-position: -70px; }
}

body {
  overflow-x: hidden;
  background: url(bg.png);
  background-position: center;
}

.field-player2 {
  box-shadow: 3px 3px 0 #000;
  background: #333;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  width: 130px;
  border-left: 10px solid #000;
  /* border-right: 2px solid #000; */
  cursor: default;
}
.field-player2 .player-name {
  background: rgb(33,33,33);
  font-weight: bold;
  padding: 6px;
  position: relative;
  width: 100%;
}
.field-player2 .player-name .short,
.field-player2 .player-name .full {
  line-height: 1.2;
  margin-top: -1px;
  margin-bottom: -4px;
  display: block;
}
.field-player2 .player-name .full{
  display: none;
}
.field-player2:hover .player-name .full {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  padding: 12px 6px 9px;
  background: rgb(33,33,33);
  white-space: nowrap;
  z-index: 2;
  line-height: 0;
}
.field-player2 .stats {
  background: rgb(33,33,33);
}
.field-player2 .stat {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  padding-right: 10px;
  background: #333;
}
.field-player2 .stat .label {
  text-shadow: 1px 1px 0 #000;
  background: #888;
  padding: 2px 4px 0px;
  display: inline-block;
  transform: skewX(-20deg);
  transform-origin: top;
  margin-right: -5px;
  width: 42px;
}
.field-player2 .stat .label .text {
  transform: skewX(20deg);
  display: inline-block;
  padding-left: 6px;
}
.field-player2 .stat .bar {
  height: 20px;
  width: 10px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: bottom;
  transform: skewX(-20deg);
}
.field-player2 .stat .filled {
  background-color: rgb(196, 248, 255);
  box-shadow:
    0 0 4px rgb(89, 236, 255),
    0 0 8px #fff;
}
.field-player2 .stat .bonus {
  background-color: rgb(255, 239, 147);
  box-shadow:
    0 0 4px gold,
    0 0 8px #fff;
}
.field-player2 .stat .penalty {
  background-color: rgb(255, 95, 95);
  box-shadow:
    0 0 4px red,
    0 0 8px #fff;
}
.field-player2 .stat .unfilled {
  border: 1px solid #666;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 720px !important;
}

.sideline {
  margin: 10px 0;
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: left;
  align-content: flex-start;
  overflow-x: scroll;
}
@media (min-width: 720px) {
  .sideline {
    overflow-x: visible;
    justify-content: center;
  }
}
.sideline > div {
  margin-left: 3px;
  margin-right: 3px;
  /* display: flex;
  flex: 0 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; */
}

.field-wrapper {
  margin-top: 40px;
  margin-bottom: 20px;
}
.new-field {
  background: rgb(65, 90, 74);
  height: 200px;
  width: 100%;
  position: relative;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: perspective(14cm) rotateX(25deg);
  border-top: 3px solid #111;
  border-bottom: 3px solid #111;
}
.field-depth {
  background-color: #111;
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 100%); */
  height: 24px;
  transform: perspective(14cm) rotateX(-25deg);
  transform-origin: top;
  position: relative;
}
.new-field,
.field-depth {
  margin-left: auto;
  margin-right: auto;
}

.score-home,
.score-away,
.phase {
  position: absolute;
  top: 0;
  left: 6px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(236, 231, 169, .5);
}
.phase {
  left: 50%;
  transform: translate(-50%);
}
.score-away {
  left: auto;
  right: 6px;
}

.player-icon {
  position: absolute;
  transition-duration: 1s;
  height: 0;
  width: 0;
}
.player-icon .robot {
  transform: 
    perspective(14cm)
    rotateX(-50deg)
    scale(125%)
  ;
  transform-origin: bottom center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.player-icon .robot .graphic {
  height: 34px;
  width: 35px;
  position: absolute;
  bottom: 0;
  left: -16px;
  background-image: url('./sprite.png');
  transform: scaleX(-1);
  animation-name: sprite; 
  animation-duration: 1.25s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
}
.player-icon .arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(219, 69, 49);
  background-image: url('./play.svg');
  background-size: 64%;
  background-repeat: no-repeat;
  background-position: 70% center;
  box-sizing: content-box;
  border: 2px solid #FFF;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition-duration: .25s;
}
.player-icon.away .robot .graphic {
  background-image: url('./sprite.png');
  transform: scaleX(1);
  filter: hue-rotate(-132deg);
}

.player-icon.away .arrow {
  background-color: rgb(49, 117, 219);
  transform: translate(-50%, -50%) scaleX(-1);
}
.player-icon .name,
.player-icon .stability {
  padding: 2px 4px 1px;
  color: #FFF;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 6px;
}
.player-icon .name {
  right: -2px;
  background: black;
}
.player-icon .stability {
  left: 2px;
  background: rgb(27, 177, 79);
}
.player-icon .stability.danger {
  background: rgb(255, 239, 10);
}
.player-icon .stability.critical {
  background: rgb(255, 10, 10);
}
.player-icon.has-ball .arrow {
  border: 10px solid rgb(228, 162, 39);
}
.player-icon.has-big-ball .arrow {
  border: 10px solid rgb(137, 39, 228);
}

.field-pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform-origin: top left;
  width: 100%;
  transform: 
    translate(-14px, 0)
    rotateZ(-90deg)
    perspective(14cm)
    rotateY(-25deg)
    scaleX(.8)
  ;
  transition-duration: 1s;
}
.playzone {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
}
.marker-line {
  position: absolute;
  top: 0;
  color: #FFF;
}
.marker-line.away {
  top: auto;
  bottom: 0;
}
.marker-line.away::before {
  width: 1px;
  height: 146px;
  position: absolute;
  left: 3px;
  bottom: 25px;
  background: #FFF;
  content: "";
}
.endzone {
  background: rgb(219, 69, 49);
  border-right: 3px solid #111;
  border-left: 3px solid #111;
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
}
.team-paint {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}
.goalpost { 
  position: absolute;
  top: 50%;
  height: 120px;
  width: 30px;
  background: gold;
  border: 3px solid #111;
  right: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translate(0, -50%);
}
.endzone:last-of-type {
  background: rgb(49, 117, 219);
  left: auto;
  right: 0;
}
.endzone:last-of-type .team-paint {
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.endzone:last-of-type .goalpost {
  right: auto;
  left: 100%;
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.field-player {
  cursor: pointer;
  color: #FFF;
  position: relative;
}
.field-player .flag {
  background-color: rgb(219, 69, 49);
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
  font-size: 12px;
}
.field-player.away .flag {
  background-color:rgb(49, 117, 219);
}
.field-player .flag .player-name .full {
  display: none;
}
.field-player .flag .team,
.field-player .flag .player-name,
.field-player .flag .stability {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
}
.field-player .flag .team {
  background: rgb(219, 69, 49);
}
.field-player .flag .team.away {
  background: rgb(49, 117, 219);
}
.field-player .flag .stability {
  background: rgb(27, 177, 79);
  border-left: 1px solid #666;
}
.field-player .flag .stability.danger {
  background: rgb(255, 239, 10);
}
.field-player .flag .stability.critical {
  background: rgb(255, 10, 10);
}
.field-player .stats {
  background: #000;
  border: 1px solid #666;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  height: 0;
  width: 122px;
  overflow: hidden;
  transition-duration: .2s;
  display: inline-block;
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 2px;
}
.field-player:hover .stats .name .short {
  display: none;
}
.field-player:hover .stats .name .full {
  display: none;
}
.field-player:hover .stats {
  height: 108px;
}
.field-player .stats .stat:first-of-type {
  margin-top: 6px;
}
.field-player .stats .stat .label {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
}
.field-player .stats .stat .bar {
  background-color: #FFF;
  border: 1px solid gold;
  display: inline-block;
  height: 14px;
  width: 8px;
  margin-right: 3px;
  transform: skewX(-15deg);
}
.field-player .stats .stat .unfilled {
  background-color: transparent;
  border: 1px solid #666;
}

.has-ball .field-player .flag {
  background-color: rgb(228, 162, 39);
}
.has-big-ball .field-player .flag {
  background-color: rgb(137, 39, 228);
}

#final-result {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 7px;
  border-radius: 5px;
  font-size: 42px;
  font-weight: bold;
  background: #666;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
#final-result.home {
  background: rgb(219, 69, 49);
}
#final-result.away {
  background: rgb(49, 117, 219);
}

.round-start {
  font-weight: bold;
  margin-top: 4px;
}
b.home {
  color: rgb(219, 69, 49);
}
b.away {
  color: rgb(49, 117, 219);
}
b.sinker {
  color:rgb(137, 39, 228);
}
b.skimmer {
  color: rgb(228, 162, 39);
}
#output {
  margin-bottom: 10px;
}
.log-frame {
  position: relative;    
  overflow: hidden;
  background: #333;
  box-shadow: 3px 3px 0 black;
  max-height: 300px;
  min-height: 30px;
}
.log-inner {
  color: #FFF;
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0;
}
.log-frame.done {
  max-height: none;
}
.log-frame.done .log-inner {
  display: static;
}
.log-label {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 6px 2px;
  background-color: green;
}

#timer {
  transform-origin: bottom;
  height: 48px;
  position: relative;
  background: #333;
  margin-bottom: 6px;
  margin-left: 48px;
  margin-right: 48px;
  box-shadow: 3px 3px 0 black;
}
#timer .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition-duration: .2s;
  background-color: rgb(196, 248, 255);
  box-shadow: 0 0 4px rgb(89 236 255), 0 0 8px #fff;
}

#progress {
  margin-top: 42px;
  margin-bottom: 2px;
  position: relative;
}
.controls {
  background-color: rgb(109 55 181);
  height: 48px;
  width: 48px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 3px 3px 0 black;
}
.controls:last-of-type {
  left: auto;
  right: 0;
  transform-origin: top;
}
.controls div {
  height: 100%;
  width: 100%;
  background: url('./play.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.controls .pause {
  background-image: url('./pause.svg');
}
.controls .ff {
  background-image: url('./ff.svg');
}

#roster {
  max-width: 720px;
}
#roster .team-name {
  background: #666;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  padding: 4px 6px 2px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 0 #000;
}
#roster .team-name .inner {
  text-shadow: 2px 2px 0 #000
}
#roster .team-name .inner .stars {
  position: absolute;
  top: 4px;
  right: 20px;
  z-index: 3;
}
#roster .team-name .slash {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-40deg);
  transform-origin: bottom;
}
#roster .team-players {
  margin: 10px 0px 36px 0px;
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#roster .team-players > div {
  margin-bottom: 10px;
  /* display: flex;
  flex: 0 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; */
}
/* #roster .team-players .flag {
  background: #666;
  border: 1px solid #666;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#roster .team-players .stats {
  height: 108px;
  width: 100%;
  left: 0;
} */