@keyframes sprite {
  from { background-position: 0px; }
  to { background-position: -64px; }
}

body {
  overflow-x: hidden;
  background: url(bg.png);
}

.container {
  font-family: 'Josefin Sans', sans-serif;
}

.sideline {
  margin: 10px 0;
  display: flex;
  position: relative;
  z-index: 5;
}
.sideline > div {
  display: flex;
  flex: 0 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.new-field {
  background: rgb(65, 90, 74);
  height: 200px;
  width: 100%;
  position: relative;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: perspective(14cm) rotateX(25deg);
  border-top: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
  transform-style: inherit;
}
.field-depth {
  background-color: rgb(80, 60, 42);
  height: 20px;
  transform: perspective(14cm) rotateX(-25deg);
}
.new-field,
.field-depth {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.player-icon {
  position: absolute;
  transition-duration: 1s;
  height: 0;
  width: 0;
}
.player-icon .robot {
  transform: 
    perspective(14cm)
    rotateX(-50deg)
  ;
  transform-origin: bottom center;
  position: absolute;
  bottom: 0;
  left: 0;
  zoom: 125%;
}
.player-icon .robot .graphic {
  height: 33px;
  width: 32px;
  position: absolute;
  bottom: 0;
  left: -16px;
  background-image: url('./sprite.png');
  transform: scaleX(-1);
  animation-name: sprite; 
  animation-duration: 1.25s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
}
.player-icon .arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(219, 69, 49);
  background-image: url('./play.svg');
  background-size: 64%;
  background-repeat: no-repeat;
  background-position: 70% center;
  box-sizing: content-box;
  border: 2px solid #FFF;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.player-icon.away .robot .graphic {
  background-image: url('./sprite.png');
  transform: scaleX(1);
  filter: hue-rotate(-132deg);
}

.player-icon.away .arrow {
  background-color: rgb(49, 117, 219);
  transform: translate(-50%, -50%) scaleX(-1);
}
.player-icon .name,
.player-icon .stability {
  padding: 2px 4px 1px;
  color: #FFF;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 6px;
}
.player-icon .name {
  right: -2px;
  background: black;
}
.player-icon .stability {
  left: 2px;
  background: rgb(27, 177, 79);
}
.player-icon .stability.danger {
  background: rgb(255, 239, 10);
}
.player-icon .stability.critical {
  background: rgb(255, 10, 10);
}
.player-icon.has-ball .arrow {
  border: 6px solid rgb(228, 162, 39);
}
.player-icon.has-big-ball .arrow {
  border: 6px solid rgb(137, 39, 228);
}

.field-pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform-origin: top left;
  width: 100%;
  transform: 
    translate(-14px, 0)
    rotateZ(-90deg)
    perspective(14cm)
    rotateY(-25deg)
    scaleX(.8)
  ;
  transition-duration: 1s;
}
.playzone {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
}
.marker-line {
  position: absolute;
  top: 0;
  color: #FFF;
}
.marker-line.away {
  top: auto;
  bottom: 0;
}
.endzone {
  background: rgb(219, 69, 49);
  border-right: 3px solid #FFF;
  border-left: 3px solid #FFF;
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
}
.team-paint {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}
.goalpost { 
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  background: gold;
  border: 3px solid #FFF;
  right: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translate(0, -50%);
}
.endzone:last-of-type {
  background: rgb(49, 117, 219);
  left: auto;
  right: 0;
}
.endzone:last-of-type .team-paint {
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.endzone:last-of-type .goalpost {
  right: auto;
  left: 100%;
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.field-player {
  cursor: pointer;
  color: #FFF;
  position: relative;
}
.field-player .flag {
  background-color: rgb(219, 69, 49);
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
  font-size: 12px;
}
.field-player.away .flag {
  background-color:rgb(49, 117, 219);
}
.field-player .flag .player-name .full {
  display: none;
}
.field-player .flag .team,
.field-player .flag .player-name,
.field-player .flag .stability {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
}
.field-player .flag .team {
  background: rgb(219, 69, 49);
}
.field-player .flag .team.away {
  background: rgb(49, 117, 219);
}
.field-player .flag .stability {
  background: rgb(27, 177, 79);
  border-left: 1px solid #666;
}
.field-player .flag .stability.danger {
  background: rgb(255, 239, 10);
}
.field-player .flag .stability.critical {
  background: rgb(255, 10, 10);
}
.field-player .stats {
  background: #000;
  border: 1px solid #666;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  height: 0;
  width: 122px;
  overflow: hidden;
  transition-duration: .2s;
  display: inline-block;
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 2px;
}
.field-player:hover .stats .name .short {
  display: none;
}
.field-player:hover .stats .name .full {
  display: none;
}
.field-player:hover .stats {
  height: 108px;
}
.field-player .stats .stat:first-of-type {
  margin-top: 6px;
}
.field-player .stats .stat .label {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
}
.field-player .stats .stat .bar {
  background-color: #FFF;
  border: 1px solid gold;
  display: inline-block;
  height: 14px;
  width: 8px;
  margin-right: 3px;
  transform: skewX(-15deg);
}
.field-player .stats .stat .unfilled {
  background-color: transparent;
  border: 1px solid #666;
}

.has-ball .field-player .flag {
  background-color: rgb(228, 162, 39);
}
.has-big-ball .field-player .flag {
  background-color: rgb(137, 39, 228);
}

#final-result {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 7px;
  border-radius: 5px;
  font-size: 42px;
  font-weight: bold;
  background: #666;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
#final-result.home {
  background: rgb(219, 69, 49);
}
#final-result.away {
  background: rgb(49, 117, 219);
}

#scoreboard {
  margin: 10px 0;
}
#next-button {
  float: left;
  background: green;
  color: #FFF;
  border-radius: 4px;
  font-weight: bold;
  padding: 7px 8px;
  cursor: pointer;
}
.round,
.score {
  padding: 7px 8px;
  background: rgb(66, 66, 66);
  color: #FFF;
  border-radius: 4px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.round {
  float: right;
}
.score {
  margin-left: 3px;
  float: right;
}
.round-start {
  font-weight: bold;
}
b.home {
  color: rgb(219, 69, 49);
}
b.away {
  color: rgb(49, 117, 219);
}
b.sinker {
  color:rgb(137, 39, 228);
}
b.skimmer {
  color: rgb(228, 162, 39);
}
#output {
  margin-bottom: 10px;
}
.log-frame {
  border: 1px solid green;
  border-radius: 3px;
  position: relative;    
  height: 300px;
  overflow: hidden;
  background: #191919;
}
.log-label {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 6px 1px;
  background-color: green;
  border-bottom-left-radius: 4px;
}
.log-inner {
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
.log-frame.done {
  height: auto;
}
.log-frame.done .log-inner {
  position: static;
}

#timer {
  height: 20px;
  position: relative;
  background: #666;
  margin-bottom: 6px;
  margin-left: 30px;
  margin-right: 30px;
}
#timer .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(133, 185, 228);
  transition-duration: .2s;
}

#progress {
  margin-top: 30px;
  margin-bottom: 2px;
  position: relative;
}
.controls {
  background-color: rgb(133, 185, 228);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
}
.controls:last-of-type {
  left: auto;
  right: 0;
}
.controls div {
  height: 100%;
  width: 100%;
  background: url('./play.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.controls .pause {
  background-image: url('./pause.svg');
}
.controls .ff {
  background-image: url('./ff.svg');
}

#roster .team-name {
  background: #666;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  padding: 4px 6px 2px;
  font-size: 18px;
  border-radius: 4px;
}
#roster .team-players {
  margin: 10px 0;
  display: flex;
  position: relative;
  z-index: 5;
  margin-bottom: 128px;
}
#roster .team-players > div {
  display: flex;
  flex: 0 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
#roster .team-players .flag {
  background: #666;
}
#roster .team-players .stats {
  height: 108px;
}