body {
  overflow-x: hidden;
}
#field {
  margin: 180px 0;
  height: 3px;
  background-color: rgb(59, 117, 79);
  width: 100%;
  position: relative;
  z-index: 2;
}
#scoreboard {
  margin: 10px 0;
}
#next-button {
  float: left;
  background: green;
  color: #FFF;
  border-radius: 4px;
  font-weight: bold;
  padding: 7px 8px;
  cursor: pointer;
}
.round,
.score {
  padding: 7px 8px;
  background: rgb(66, 66, 66);
  color: #FFF;
  border-radius: 4px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.round {
  float: right;
}
.score {
  margin-left: 3px;
  float: right;
}
b.home {
  color: rgb(219, 69, 49);
}
b.away {
  color: rgb(49, 117, 219);
}
b.sinker {
  color:rgb(137, 39, 228);
}
b.skimmer {
  color: rgb(228, 162, 39);
}
#output {
  margin-bottom: 10px;
}
.team-name {
  background: rgb(219, 69, 49);
  padding: 4px 8px;
  color: #FFF;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 30px;
}
.team-name.away {
  background-color: rgb(49, 117, 219);
  left: 100%;
  right: auto;
  top: auto;
  bottom: 30px;
}
.goal {
  background: rgb(59, 117, 79);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid gold;
}
.goal-a {
  left: 0px;
}
.goal-b {
  right: 0px;
  transform: translate(50%, -50%);
}
.marker {
  position: absolute;
  transform: translateX(-50%);
  background:rgb(66, 66, 66);
  color: #FFF;
  top: 0;
  width: 20px;
  text-align: center;
}
.marker.home {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.marker.away {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  bottom: 0;
  top: auto;
}
.unit {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  color: #FFF;
  background: rgb(66, 66, 66);
  border: 3px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  transition-duration: 1s;
}
.unit .name {
  background: #000;
  padding-left: 4px;
  color: #FFF;
  border-radius: 4px;
  position: absolute;
  display: inline-block;
  bottom: 17px;
  left: 3;
  transform-origin: center left;
  /* transform: rotateZ(-45deg); */
  white-space: nowrap;
  vertical-align: middle;
}
.unit .name:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100px;
  left: 0;
  top: 4px;
  background: rgba(0, 0, 0, .5);
  z-index: -1;
}
.unit .name .stability {
  display: inline-block;
  padding: 2px 4px;
  margin-left: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stability {
  background: rgb(27, 177, 79);
}
.stability.danger {
  background: rgb(255, 239, 10);
}
.stability.critical {
  background: rgb(255, 10, 10);
}
.unit.has-ball .name {
  background-color: rgb(228, 162, 39)
}
.unit.has-big-ball .name {
  background-color: rgb(137, 39, 228)
}
.unit.bench {
  left: -65px;
  top: -102px;
}
.team-away.unit.bench {
  right: -65px;
  left: auto;
  top: 105px;
}
.team-home.unit-0 .name {
  bottom: 20px;
}
.team-home.unit-0 .name:before {
  height: 20px;
}
.team-home.unit-1 .name {
  bottom: 45px;
}
.team-home.unit-1 .name:before {
  height: 45px;
}
.team-home.unit-2 .name {
  bottom: 69px;
}
.team-home.unit-2 .name:before {
  height: 69px;
}
.team-away .name {
  left: auto;
  right: 9px;
}
.team-away .name:before {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.team-away.unit-0 .name {
  bottom: -25px;
}
.team-away.unit-0 .name:before {
  height: 25px;
}
.team-away.unit-1 .name {
  bottom: -50px;
}
.team-away.unit-1 .name:before {
  height: 50px;
}
.team-away.unit-2 .name {
  bottom: -74px;
}
.team-away.unit-2 .name:before {
  height: 74px;
}

.team-home {
  border-color: rgb(219, 69, 49);
  top: -30px;
  left: 0;
}
.team-away {
  transform: translate(50%, -50%);
  border-color: rgb(49, 117, 219);
  bottom: -50px;
  right: 0;
}
.log-frame {
  border: 2px solid black;
  border-radius: 3px;
  position: relative;    
  height: 300px;
  padding: 15px;
  overflow: hidden;
}
.log-label {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: -5px;
  right: 0px;
}
.log-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.round-start {
  font-weight: bold;
}
#toggle-roster {
  cursor: pointer;
  background: green;
  color: #FFF;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
  display: block;
  text-align: center;
  border-radius: 4px;
}
#roster {
  display: none;
}
#roster .away {
  text-align: right;
}
#roster .teamname {
  margin-top: 10px;
  color: #FFF;
  padding: 15px;
  border-radius: 4px;
  font-weight: bold;
}
.home .teamname {
  background: rgb(219, 69, 49);
}
.away .teamname {
  background: rgb(49, 117, 219);
}

.team-profile,
.player-profile {
  background: gray;
  border-radius: 4px;
  display: inline-block;
  padding: 15px;
  margin-top: 1em;
  color: #FFF;
}
.team-profile {
  display: flex;
  font-weight: bold;
  margin-top: 15px;
}
.player-profile .name {
  font-weight: bold;
  text-align: center;
}
.player-profile.home {
  background: rgb(219, 69, 49);
}
.player-profile.away {
  background: rgb(49, 117, 219);
}
.player-profile .label {
  min-width: 64px;
  display: inline-block;
  text-align: right;
}
.player-profile .faded {
  color: rgba(255, 255, 255, .25);
}
